/chlapi.doxy.bak
man/MSortables.js
man/css/edit.css.bak
man/css/foto_home0.jpg
man/css/foto_home1.jpg
man/css/more.png
man/img/foto_home.jpg
man/img/foto_home0.jpg
man/img/foto_home1.jpg
man/modernizr-custom.js
man/template_ch.php.bak
/menu_tstamp.def
/nbproject
