* text=auto !eol
/index -text
man/$.ezer -text
man/2chlapi.js -text
man/2cms_fce.php -text
man/2mini.php -text
man/2template_ch.php -text
man/2web_fce.php -text
man/css/2chlapi.css -text
man/css/2chlapi.less -text
man/css/3chlapi.css -text
man/css/edit.css -text
man/css/foto_home.jpg -text
man/css/mini.css -text
man/img/+logo.gif -text
man/img/-logo.gif -text
man/img/buben.png -text
man/img/chlapi_ico.png -text
man/img/chlapi_ico_local.png -text
man/img/foto_home.jpg -text
man/img/kriz.png -text
man/img/man_local.png -text
man/img/new.png -text
man/man.inc.php -text
man/man.php -text
man/modernizr-custom.js -text
man/upload.php -text
