* text=auto !eol
/chlapi.doxy -text
doxygen/doxygen.md -text
doxygen/mainpage.dox -text
doxygen/procesy-login.md -text
doxygen/procesy-prihlasky.md -text
doxygen/procesy.md -text
/index.php -text
man/$.ezer -text
man/2chlapi.js -text
man/2mini.php -text
man/2template_ch.php -text
man/css/2chlapi.css -text
man/css/2chlapi.less -text
man/css/backtotop.png -text
man/css/edit.css -text
man/css/foto_home.jpg -text
man/css/mini.css -text
man/img/+logo.gif -text
man/img/-logo.gif -text
man/img/buben.png -text
man/img/chlapi_ico.png -text
man/img/chlapi_ico_local.png -text
man/img/foto_home.jpg -text
man/img/kriz.png -text
man/img/man_local.png -text
man/img/new.png -text
man/man.inc.php -text
man/man.js -text
man/man.php -text
man/man_cms.php -text
man/upload.php -text
/rr.inc -text
/rr.php -text
rr/$.ezer -text
rr/code/$.json -text
rr/code/comp2tab.php -text
rr/img/+logo.gif -text
rr/img/-logo.gif -text
rr/img/ch-logo.gif -text
rr/img/ch.png -text
rr/img/ch_local.png -text
rr/rr_fce.php -text
