RewriteEngine on
Options -Indexes
<IfModule mod_rewrite.c>
#  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^chlapi.online [OR]
  RewriteCond %{HTTP_HOST} ^www.chlapi.online
  RewriteRule (.*)$ http://chlapi.cz/$1 [R=301,L]
</IfModule>
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
    Header set Access-Control-Allow-Credentials true
</IfModule>
RewriteBase /
RewriteRule ^(.*\.js)$ $1 [QSA,L,NC]
RewriteRule ^$ index.php?page=home [QSA,L]
RewriteRule ^([\w\-_]*)$ index.php?page=$1 [QSA,L]
RewriteRule ^([\w\-_]*)[!/]([,\w\-_]*)$ index.php?page=$1!$2 [QSA,L]
RewriteRule ^([\w\-_]*)[!/]([,\w\-_]*)[!/]([,\w\-_]*)$ index.php?page=$1!$2!$3 [QSA,L]
RewriteRule ^(/|)servant_ch.php(.*)$ $1servant_ch.php$2 [QSA,L]
RewriteRule ^(/|)ses.php(.*)$ $1ses.php$2 [QSA,L]
RewriteRule ^(/|)rr.php(.*)$ $1rr.php$2 [QSA,L]
RewriteRule ^(/|)zaloha.php(.*)$ $1zaloha.php$2 [QSA,L]
RewriteRule ^(/|)banner.php(.*)$ $1banner.php$2 [QSA,L]
RewriteRule ^(/|)(inc|man|rr|skins|ezer3.1|ezer3.2)/(.*)$ $1$2/$3 [QSA,L]
RewriteRule ^.* index.php?page=home [QSA,L]