RewriteEngine on
Options -Indexes
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
    Header set Access-Control-Allow-Credentials true
</IfModule>
RewriteBase /
RewriteRule ^(.*\.js)$ $1 [QSA,L,NC]
RewriteRule ^$ index.php?page=home [QSA,L]
RewriteRule ^([\w-_]*)$ index.php?page=$1 [QSA,L]
RewriteRule ^([\w-_]*)[!/]([,\w-_]*)$ index.php?page=$1!$2 [QSA,L]
RewriteRule ^([\w-_]*)[!/]([,\w-_]*)[!/]([,\w-_]*)$ index.php?page=$1!$2!$3 [QSA,L]
RewriteRule ^(/|)(inc|man|ezer3.1)/(.*)$ $1$2/$3 [QSA,L]
RewriteRule ^.* index.php?page=home [QSA,L]
