/*@abstr_b: #E6E1CF;   @abstr_c: #000000;*/
.shadow-img {
  filter: drop-shadow(5px 5px 10px #567);
}
.shadow-box {
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
}
.shadow-black-box {
  box-shadow: -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000, 5px 5px 10px #000;
}
.shadow-txt {
  text-shadow: 3px 3px 3px #567, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  margin: 0;
  font-size: 10pt;
  font-family: sans-serif;
}
html #web {
  overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
}
html #work {
  position: relative;
  background-color: #eee !important;
}
html #go_up {
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 10px;
}
html #page {
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 0;*/
  max-width: 800px;
  margin: 0 auto;
}
html #page span.neodkaz,
html #page span.odkaz {
  background: none;
}
html #page span.neodkaz a.odkaz,
html #page span.odkaz a.odkaz {
  border-bottom: 1px dashed #0000ee;
  color: #0000ee;
}
html #page span.neodkaz a:hover,
html #page span.odkaz a:hover {
  background-color: #CFDDE6;
  border-radius: 0.4em;
}
html #page a > img:not(#logo) {
  border: 4px solid #E6CF73;
  border-radius: 0.4em;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
}
html div.mapa.Panel3,
html div.mapa.Form3,
html div.mapa.Label3 {
  position: fixed;
  top: 0;
  /*z-index: -1;*/
  width: 100%;
  height: 100%;
}
html img {
  max-width: 100%;
}
.cke_top {
  padding: 6px 0 0 6px !important;
}
.cke_voice_label,
.cke_button_label,
.cke_combo_label {
  display: none !important;
}
a.cke_button {
  padding: 3px 4px !important;
}
a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active {
  border: none !important;
  outline: 1px solid #bcbcbc;
}
.cke_combo_text {
  padding-left: 6px !important;
  line-height: 24px !important;
}
.cke_combo_open {
  height: 18px !important;
  line-height: 16px !important;
}
.cke_combo_arrow {
  margin: 10px 0 0 !important;
}
span.bible {
  background-color: #E6CF73;
  cursor: help;
}
.jump {
  display: inline-block;
  border-radius: 0.4em;
  padding: 0.1em 0.6em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a.jump {
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
  margin: 0em 0.3em 0.5em !important;
  background-color: #E6CF73;
  color: #000000;
  text-align: center;
}
a.jump:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
span.neodkaz a.jump {
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
  margin: 0em 0.3em;
  background-color: #CFDDE6;
  color: #000000;
  text-align: center;
  display: inline-block;
  border-radius: 0.4em;
  padding: 0.1em 0.6em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
span.neodkaz a.jump:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
span.neodkaz a.jump a {
  color: #000000;
  text-decoration: none;
}
/*div.text { 
  padding: .4em; }*/
div.podpis {
  text-align: right;
  font-style: italic;
  clear: both;
  padding: 5px;
}
*.redakce4 {
  outline: 3px dotted #E6CF73;
}
*.redakce2 {
  outline: 3px dotted lightgreen;
}
*.redakce1 {
  outline: 3px dotted red;
}
div.header {
  width: 100%;
  height: 450px;
  position: sticky;
  top: -341px;
  z-index: 2;
}
div.header div.scroll-line {
  height: 3px;
  margin-bottom: -4px;
  background: red;
  width: 0%;
  position: sticky;
  top: 360px;
}
div.filler {
  height: 2em;
}
.mobile-menu-open {
  height: 29px;
  cursor: pointer;
  position: sticky;
  float: right;
  z-index: 4;
  padding: 5px 10px;
  margin: 10px;
  top: 10px;
  background: white;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
}
.mobile-menu-open:hover {
  opacity: 1;
}
.mobile-menu-open i {
  font-size: 30px;
}
#motto {
  top: 385px;
  z-index: -1;
  margin-bottom: 7px;
  white-space: nowrap;
  margin-left: 100px;
  /*margin-top: 322px; width:fit-content;*/
  color: #ffa;
  position: sticky;
  font-size: 15px;
  text-shadow: 3px 3px 3px #567, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /*    display:block; 
    &.isSticky { 
      display:none; 
    }*/
}
#logo {
  filter: drop-shadow(5px 5px 10px #567);
  position: sticky;
  left: 10px;
  top: 368px;
  width: 80px;
  z-index: -1;
}
nav {
  top: 5px;
}
nav div.pc-menu-wrap {
  /*position: absolute;*/
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
nav.pc-menu {
  position: fixed;
  z-index: 3;
  width: calc(min(800px, 100%) - 60px);
}
nav.pc-menu div {
  /*position: sticky;*/
  float: right;
}
nav.pc-menu div a.box {
  height: 29px;
  cursor: pointer;
  text-align: right;
  float: right;
  z-index: 2;
  padding: 10px 10px 0px 10px;
  margin: 5px 10px;
  top: 10px;
  background: white;
  opacity: 0.75;
  text-decoration: none;
  color: black;
  box-shadow: -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000, 5px 5px 10px #000;
}
nav.pc-menu div a.box:hover {
  opacity: 1;
}
nav.pc-menu div div ul {
  display: none;
  position: absolute;
  width: 150px;
  top: 80px;
  list-style-type: none;
  padding: 0;
  box-shadow: -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000, 5px 5px 10px #000;
  /*border: solid 1px black;*/
}
nav.pc-menu div div ul li {
  border-top: solid 1px black;
  line-height: 20px;
  padding: 10px;
  display: block;
  background: white;
  opacity: 0.75;
}
nav.pc-menu div div ul li:hover {
  opacity: 1;
}
nav.pc-menu div div ul li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}
nav.pc-menu div div ul li:first-child {
  border-top: 0;
}
nav.pc-menu div div div:hover ul {
  display: block;
}
nav.mobile-menu {
  right: -320px;
  width: 320px;
  max-width: 250px;
  background: black;
  color: white;
  height: 100%;
  position: fixed;
  z-index: 9997;
  overflow-y: auto;
  transform: translate3d(0, 0, 205px);
  -webkit-transform: translate3d(0, 0, 205px);
  -moz-transform: translate3d(0, 0, 205px);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
nav.mobile-menu .mobile-menu-close {
  height: 25px;
  cursor: pointer;
  text-align: right;
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 30px;
}
nav.mobile-menu.active {
  right: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
nav.mobile-menu .children {
  display: none;
}
nav.mobile-menu .children li:first-child {
  margin-top: 0px;
}
nav.mobile-menu ul {
  margin: 0;
  padding: 0;
}
nav.mobile-menu li {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: left;
  /*text-transform: uppercase;*/
  padding-left: 15px;
}
nav.mobile-menu li:first-child {
  margin-top: 40px;
}
nav.mobile-menu li:hover {
  background: #888;
  z-index: 9998;
}
nav.mobile-menu li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
}
nav.mobile-menu li a:hover {
  background: #888;
  cursor: pointer;
}
nav.mobile-menu li.has-children {
  padding-bottom: 0;
  padding-right: 0;
  margin-bottom: 5px;
}
nav.mobile-menu li.has-children ul {
  background: black;
}
nav.mobile-menu li.has-children:hover {
  cursor: pointer;
}
nav.mobile-menu li.has-children .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: white;
  top: 5px;
  right: 10px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
nav.mobile-menu li.has-children .icon-arrow:after {
  content: "\25BC";
}
nav.mobile-menu li.has-children .icon-arrow.open {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
nav.mobile-menu li.has-children.open .icon-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
div.box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 2em;
  color: black;
  border-radius: 0.4em;
  padding: 1em 1em 0em 1em;
  box-shadow: black 4px 6px 20px;
  background: white;
}
div.box div.box_title {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  text-align: center;
  height: 2em;
  background: black;
  border-radius: 0.4em 0.4em 0 0;
  color: white;
  font-weight: bold;
}
div.box div.box_text {
  margin-top: 2em;
  line-height: 1.2em;
}
div.box div.box_ok {
  text-align: center;
  padding: 0.5em;
}
div.box div.box_ok button {
  position: relative;
  border: 1px solid;
  padding: 3px 14px;
  color: black;
}
div.box div.box_input {
  padding: 2em 0 1em;
}
div.sloupce {
  /*outline: 1px dotted yellow;*/
  /*float: right;*/
  /*margin-top:1.5em;*/
}
div.sloupce div.back {
  margin: 10px 2px;
  /*text-align: left;*/
  display: flex;
  /*display: inline-block;*/
}
div.sloupce div.zmena {
  background-image: url(upd.png);
  background-position: top right;
  background-repeat: no-repeat;
}
div.sloupce img.zmena {
  /*float:right; margin-right: -12px; margin-top: -12px;*/
}
div.sloupce #xclanekfortna {
  width: 100%;
}
div.sloupce a.aclanek,
div.sloupce a.aclanek_nojump {
  overflow: hidden;
  text-align: left;
  max-height: 7em;
}
div.sloupce a.aclanek {
  background-image: url(more.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  /*, linear-gradient(to bottom right, @abstr_b 50%, @activ_b 75%);*/
  display: inline-block;
  break-inside: avoid;
  page-break-inside: avoid;
}
div.sloupce a.aclanek.kniha {
  border-style: double;
}
div.sloupce a.aclanek_nojump {
  cursor: pointer;
  background-image: url(no_more.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  /*,linear-gradient(to bottom right, @abstr_b 50%, @activ_b 75%);*/
}
div.home,
a.home,
#user_mail,
#skup0,
#skup1,
#skup2,
#temata {
  background-color: #FFFFFF;
  color: #000000;
  /*float: right; margin: .4em 1em; max-width: 100%; z-index: 1;*/
  line-height: 1.5;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
  break-inside: avoid;
  page-break-inside: avoid;
}
div.home input,
a.home input,
#user_mail input,
#skup0 input,
#skup1 input,
#skup2 input,
#temata input,
div.home textarea,
a.home textarea,
#user_mail textarea,
#skup0 textarea,
#skup1 textarea,
#skup2 textarea,
#temata textarea {
  margin-bottom: 0.5em;
}
div.home.home,
a.home.home,
#user_mail.home,
#skup0.home,
#skup1.home,
#skup2.home,
#temata.home {
  width: 100%;
  min-height: 7.7em;
}
div.home#user_mail,
a.home#user_mail,
#user_mail#user_mail,
#skup0#user_mail,
#skup1#user_mail,
#skup2#user_mail,
#temata#user_mail {
  max-width: 29em;
  padding: 0;
  position: fixed;
  margin-left: 3em;
  top: 1.5em;
  z-index: 3;
}
div.home#user_mail span#user_mail_head,
a.home#user_mail span#user_mail_head,
#user_mail#user_mail span#user_mail_head,
#skup0#user_mail span#user_mail_head,
#skup1#user_mail span#user_mail_head,
#skup2#user_mail span#user_mail_head,
#temata#user_mail span#user_mail_head {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2em;
  background-color: #807340;
  border-radius: 0.4em 0.4em 0 0;
  color: #FFFFFF;
  font-weight: bold;
}
div.home#user_mail span#user_mail_txt,
a.home#user_mail span#user_mail_txt,
#user_mail#user_mail span#user_mail_txt,
#skup0#user_mail span#user_mail_txt,
#skup1#user_mail span#user_mail_txt,
#skup2#user_mail span#user_mail_txt,
#temata#user_mail span#user_mail_txt {
  display: block;
}
div.home#user_mail div,
a.home#user_mail div,
#user_mail#user_mail div,
#skup0#user_mail div,
#skup1#user_mail div,
#skup2#user_mail div,
#temata#user_mail div {
  padding: 1em;
}
div.home#user_mail div #mail,
a.home#user_mail div #mail,
#user_mail#user_mail div #mail,
#skup0#user_mail div #mail,
#skup1#user_mail div #mail,
#skup2#user_mail div #mail,
#temata#user_mail div #mail {
  left: 4em;
  width: 75%;
}
div.home#user_mail div #pin,
a.home#user_mail div #pin,
#user_mail#user_mail div #pin,
#skup0#user_mail div #pin,
#skup1#user_mail div #pin,
#skup2#user_mail div #pin,
#temata#user_mail div #pin {
  right: 1em;
  width: 15%;
}
div.home#user_mail div button,
a.home#user_mail div button,
#user_mail#user_mail div button,
#skup0#user_mail div button,
#skup1#user_mail div button,
#skup2#user_mail div button,
#temata#user_mail div button {
  margin: 0.5em 1em 0 0;
}
div.home#user_mail a.noedit,
a.home#user_mail a.noedit,
#user_mail#user_mail a.noedit,
#skup0#user_mail a.noedit,
#skup1#user_mail a.noedit,
#skup2#user_mail a.noedit,
#temata#user_mail a.noedit {
  display: none;
}
div.home#skup0,
a.home#skup0,
#user_mail#skup0,
#skup0#skup0,
#skup1#skup0,
#skup2#skup0,
#temata#skup0 {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  width: 18em;
}
div.home#skup1,
a.home#skup1,
#user_mail#skup1,
#skup0#skup1,
#skup1#skup1,
#skup2#skup1,
#temata#skup1 {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  max-width: 25em;
  display: none;
}
div.home#skup2,
a.home#skup2,
#user_mail#skup2,
#skup0#skup2,
#skup1#skup2,
#skup2#skup2,
#temata#skup2 {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  max-width: 25em;
  display: none;
}
div.home#skup2 input,
a.home#skup2 input,
#user_mail#skup2 input,
#skup0#skup2 input,
#skup1#skup2 input,
#skup2#skup2 input,
#temata#skup2 input {
  display: block;
  max-width: 24.5em;
  width: 100%;
  border: 1px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}
div.home#skup2 textarea,
a.home#skup2 textarea,
#user_mail#skup2 textarea,
#skup0#skup2 textarea,
#skup1#skup2 textarea,
#skup2#skup2 textarea,
#temata#skup2 textarea {
  display: block;
  max-width: 24.5em;
  font-family: sans-serif;
  min-height: 5em;
  width: 100%;
  border: 1px solid grey;
  padding: 2px;
  font-size: 10pt;
}
div.home div.skupiny_container,
a.home div.skupiny_container,
#user_mail div.skupiny_container,
#skup0 div.skupiny_container,
#skup1 div.skupiny_container,
#skup2 div.skupiny_container,
#temata div.skupiny_container {
  max-width: 100%;
  overflow-x: auto;
}
div.home table.skupiny,
a.home table.skupiny,
#user_mail table.skupiny,
#skup0 table.skupiny,
#skup1 table.skupiny,
#skup2 table.skupiny,
#temata table.skupiny {
  margin: 0 auto;
  padding: 0.2em;
  border: 1px solid;
  border-spacing: 2px;
}
div.home table.skupiny tr,
a.home table.skupiny tr,
#user_mail table.skupiny tr,
#skup0 table.skupiny tr,
#skup1 table.skupiny tr,
#skup2 table.skupiny tr,
#temata table.skupiny tr {
  height: 3px;
}
div.home table.skupiny th,
a.home table.skupiny th,
#user_mail table.skupiny th,
#skup0 table.skupiny th,
#skup1 table.skupiny th,
#skup2 table.skupiny th,
#temata table.skupiny th {
  border-bottom: 3px solid;
  min-width: 8em;
}
div.home table.skupiny td.ucast,
a.home table.skupiny td.ucast,
#user_mail table.skupiny td.ucast,
#skup0 table.skupiny td.ucast,
#skup1 table.skupiny td.ucast,
#skup2 table.skupiny td.ucast,
#temata table.skupiny td.ucast {
  background-color: #E6E1CF;
}
div.home table.skupiny td.nic,
a.home table.skupiny td.nic,
#user_mail table.skupiny td.nic,
#skup0 table.skupiny td.nic,
#skup1 table.skupiny td.nic,
#skup2 table.skupiny td.nic,
#temata table.skupiny td.nic {
  background-color: transparent;
}
div.home table.skupiny input,
a.home table.skupiny input,
#user_mail table.skupiny input,
#skup0 table.skupiny input,
#skup1 table.skupiny input,
#skup2 table.skupiny input,
#temata table.skupiny input {
  width: calc(100% - 8px);
}
#temata {
  max-width: 365px;
  padding: 0;
  position: absolute;
  margin: 20px 40px;
  z-index: 2;
  display: none;
}
#temata span {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2em;
  background-color: #807340;
  border-radius: 0.4em 0.4em 0 0;
  color: #FFFFFF;
  font-weight: bold;
}
#temata dl {
  padding: 10px;
  margin: 0;
  overflow: auto;
  max-height: 353px;
}
#temata dl dt {
  float: left;
  width: 67px;
  text-align: right;
}
#temata dl dd {
  margin-left: 80px;
}
div.neodkaz {
  position: fixed;
  margin-top: 1em;
  z-index: 2;
}
div.news {
  position: fixed;
  margin-top: 1em;
  z-index: 2;
}
table.kalendar tr td {
  margin-top: 1em;
  border-top: 1px solid silver;
}
table.kalendar tr td:nth-child(1) {
  width: 8em;
  font-weight: bold;
  text-align: center;
  vertical-align: text-top;
}
table.kalendar tr td:nth-child(2) p {
  font-style: italic;
  margin: 0;
}
table.kalendar tr.ukazat_plan {
  background-color: #E6E1CF;
}
table.kalendar tr.ukazat_plan td:nth-child(2) {
  border-left: #900 7px solid;
}
a.aclanek {
  background-color: #FFFFFF;
  color: #000000;
  height: 7.7em;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}
a.aclanek:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
#list {
  margin-top: 1em;
  text-align: left;
}
#list div.abstr {
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
}
#list div.abstr a.abstrakt {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 0.4em;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.4em;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
  display: block;
  text-decoration: none;
  overflow: hidden;
  height: 8.8em;
  text-align: left;
}
#list div.abstr a.abstrakt:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
div.galery_obal {
  clear: both;
  display: flex;
  border-radius: 0.5em;
  margin: 10px 2px;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
}
div.galery_obal div.text {
  text-align: center;
}
div.galery_obal div.text h1 {
  text-align: left;
}
div.galery_obal div.galerie {
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  overflow: hidden;
  margin: 0;
  position: relative;
  border-radius: 0.5em;
}
#vlakno,
.sloupce,
.back {
  clear: both;
}
#vlakno div.clanek,
.sloupce div.clanek,
.back div.clanek {
  background-color: #FFFFFF;
  color: #000000;
  overflow: auto;
  margin: 0.5em;
  position: relative;
  box-shadow: -1px 1px 0px #567, 1px -1px 0px #567, -1px -1px 0px #567, 5px 5px 10px #567;
  text-align: left;
}
#vlakno table,
.sloupce table,
.back table {
  max-width: 100% !important;
}
div.kniha {
  display: flex-inline;
}
.kniha_bg {
  background-color: #aaa;
  color: #000000;
  display: block;
  clear: both;
  border-radius: 0.8em;
  text-align: center;
  padding: 0 10px;
}
.kniha_bg > a.jump {
  margin: 1em;
  position: relative;
}
.kniha_bg div.kniha_br {
  clear: both;
  padding: 1em 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 3px 3px #567, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.kniha_bg div.kniha_hr {
  clear: both;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
}
div.pdf div.clanek {
  background: none !important;
  box-shadow: initial !important;
}
div.pdf span.sorry {
  background: yellow;
  color: green;
  font-weight: bold;
}
#sidebar {
  display: none;
}
#page-container {
  background: transparent !important;
  position: relative !important;
  width: -moz-fit-content;
}
@media all and (max-width: 600px) {
  /*div#web { top:60px; }*/
  nav.pc-menu {
    display: none;
  }
  div.header {
    top: 0;
    height: 60px;
    z-index: 3;
    /*position:relative;*/
    background-image: none !important;
    background: #ccc;
  }
  div.header #logo {
    left: 0;
    top: 0;
    width: 62px;
    float: left;
    /*position:fixed;*/
  }
  div.header #motto {
    left: 0;
    /*float: left;*/
    /*top:10px;*/
    font-size: 12px;
    margin-left: 64px;
    /*position:fixed;*/
    /*&.isSticky { display:block; }*/
  }
}
/*# sourceMappingURL=3chlapi.css.map */